<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Evac by hideack</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Evac</h1>
        <h2>Node.js based simple aggregator.</h2>

        <section id="downloads">
          <a href="{{ site.url }}" class="btn">Home</a>
          <a href="/plugins.html" class="btn">Plugin</a>
          <a href="https://github.com/hideack/evac" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
         {{ content }}
      </section>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-37457105-4");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
